llama-index
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
chromadb
sentence-transformers
transformers
accelerate
bitsandbytes
datasets
rank-bm25
nltk
spacy==3.8.7
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl